<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HIYA</title>
    <link href="../output.css" rel="stylesheet">
    <link href="../css/global.css" rel="stylesheet">
    <script defer src="../JS/global.js"></script>
    <script src="https://kit.fontawesome.com/d17e4552c5.js" crossorigin="anonymous"></script>
</head>

<body class="font-serif relative">

    <div>

        <div class="topBar primary-bgColor w-full h-6 text-xs text-center flex items-center justify-center">ABCD</div>

        <div id="navbar-container"></div>
    </div>


    <div class="mainContent">

        <ul id="autoWidth" class="cs-hidden">
            <li class="item-a">
                <div class="productWrapper w-max mx-3 ">
                    <div class="w-40 h-44 border-2 relative">
                        <div class="productSpecialty absolute inset-2 ">TEKST</div>
                        <img src="https://nominalx.com/cdn/shop/products/AyatulKursiCuff_900x.jpg?v=1651015366" alt="">
                    </div>

                    <div class="w-full p-1 flex justify-between">
                        <p class="text-sm">299 dkk</p>
                        <p class="text-sm">tekst</p>

                    </div>
                </div>
            </li>
            <li class="item-b">
                <div class="productWrapper w-max mx-3 ">
                    <div class="w-40 h-44 border-2 relative">
                        <div class="productSpecialty absolute inset-2 ">TEKST</div>
                        <img src="https://nominalx.com/cdn/shop/products/AyatulKursiCuff_900x.jpg?v=1651015366" alt="">
                    </div>

                    <div class="w-full p-1 flex justify-between">
                        <p class="text-sm">299 dkk</p>
                        <p class="text-sm">tekst</p>

                    </div>
                </div>
            </li>
            <li class="item-c">
                <div class="productWrapper w-max mx-3 ">
                    <div class="w-40 h-44 border-2 relative">
                        <div class="productSpecialty absolute inset-2 ">TEKST</div>
                        <img class="object-cover"
                            src="https://nominalx.com/cdn/shop/products/AyatulKursiCuff_900x.jpg?v=1651015366" alt="">
                    </div>

                    <div class="w-full p-1 flex justify-between">
                        <p class="text-sm">299 dkk</p>
                        <p class="text-sm">tekst</p>

                    </div>
                </div>
            </li>
            <li class="item-d">
                <div class="productWrapper w-max mx-3 ">
                    <div class="w-40 h-44 border-2 relative">
                        <div class="productSpecialty absolute inset-2 ">TEKST</div>
                        <img src="https://nominalx.com/cdn/shop/products/AyatulKursiCuff_900x.jpg?v=1651015366" alt="">
                    </div>

                    <div class="w-full p-1 flex justify-between">
                        <p class="text-sm">299 dkk</p>
                        <p class="text-sm">tekst</p>

                    </div>
                </div>
            </li>
            <li class="item-e">
                <div class="productWrapper w-max mx-3 ">
                    <div class="w-40 h-44 border-2 relative">
                        <div class="productSpecialty absolute inset-2 ">TEKST</div>
                        <img src="https://nominalx.com/cdn/shop/products/AyatulKursiCuff_900x.jpg?v=1651015366" alt="">
                    </div>

                    <div class="w-full p-1 flex justify-between">
                        <p class="text-sm">299 dkk</p>
                        <p class="text-sm">tekst</p>

                    </div>
                </div>
            </li>
            <li class="item-f">
                <div class="productWrapper w-max mx-3 ">
                    <div class="w-40 h-44 border-2 relative">
                        <div class="productSpecialty absolute inset-2 ">TEKST</div>
                        <img src="https://nominalx.com/cdn/shop/products/AyatulKursiCuff_900x.jpg?v=1651015366" alt="">
                    </div>

                    <div class="w-full p-1 flex justify-between">
                        <p class="text-sm">299 dkk</p>
                        <p class="text-sm">tekst</p>

                    </div>
                </div>
            </li>
            <li class="item-g">
                <div class="productWrapper w-max mx-3 ">
                    <div class="w-40 h-44 border-2 relative">
                        <div class="productSpecialty absolute inset-2 ">TEKST</div>
                        <img src="https://nominalx.com/cdn/shop/products/AyatulKursiCuff_900x.jpg?v=1651015366" alt="">
                    </div>

                    <div class="w-full p-1 flex justify-between">
                        <p class="text-sm">299 dkk</p>
                        <p class="text-sm">tekst</p>

                    </div>
                </div>
            </li>
        </ul>
    </div>
    <footer id="footer" class="footer h-60">
    </footer>
    </div>

</body>

</html>