<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HIYA</title>
    <link href="/src/output.css" rel="stylesheet">
    <link href="/src/css/global.css" rel="stylesheet">
    <link href="/src/css/animations.css" rel="stylesheet">
    <link href="/src/css/test.css" rel="stylesheet">
    <script defer type="module" src="/src/JS/global2.js"></script>
    <script defer src="/src/JS/collections.js"></script>
    <script src="https://kit.fontawesome.com/d17e4552c5.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="font-serif relative">

    <div>
        <div class="topBar bg-black w-full h-8 text-sm text-center flex items-center justify-center z-100 font-sans">
            <span class="lg:w-3/12" id="sliderText"></span>
        </div>

        <div class=" relative h-max w-full inset-0 p-6 lg:px-32 zindex-100 2xl:px-80">
            <div id="navbar-container"></div>
        </div>
    </div>


    <div class="w-full font-bold text-4xl py-6 h-auto flex items-center justify-center">
        TITLE
    </div>

    <div class="mainContent">

        <footer id="footer" class="footer flex flex-col justify-between "></footer>
        </footer>

</body>

</html>