<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../output.css" rel="stylesheet">
    <link href="../css/global.css" rel="stylesheet">
    <title>Document</title>
</head>

<body class="p-10">

    <!-- PRODUKT KATALOG VISNIGN PR PRODUKT MOBIL -->
    <div class="productWrapper w-max mx-3 ">
        <div class="w-40 h-44 border-2 relative">
            <div class="productSpecialty absolute inset-2 ">TEKST</div>
            <img src="" alt="">
        </div>

        <div class="w-full p-1 flex justify-between">
            <p class="text-sm">299 dkk</p>
            <p class="text-sm">tekst</p>

        </div>
    </div>


    <!-- SEKTIONER  -->
    <section class="section2 py-3">

        <div>
            <h2 class="text-2xl">SECTION TITLE</h2>
            <a class="greenTxtColor" href="#">Se mere</a>
        </div>

    </section>


    <!-- LOOKBOOK BILLEDE -->
    <div class=" my-5 h-96 w-9/12 pictureContainer flex items-center justify-center relative ">
        <img src="" alt="Billede">
        <div class="inset-y-80 absolute">
            <button class="getTheLookBtn text-sm">Get the look</button>
        </div>
    </div>

    <!-- box-slider -->

    <!-- <div class="box">
        <div class="slide-img">
            <img class="object-cover w-full h-full"
                src="https://i.pinimg.com/564x/14/cc/34/14cc34b0c12a2ebbb2f66a4efc706586.jpg" alt="Billede">

        </div>
       

    </div> -->


    <ul id="autoWidth" class="cs-hidden">
        <li class="item-a">
            <div class="productWrapper w-max mx-3 ">
                <div class="w-40 h-44 border-2 relative">
                    <div class="productSpecialty absolute inset-2 ">TEKST</div>
                    <img src="https://nominalx.com/cdn/shop/products/AyatulKursiCuff_900x.jpg?v=1651015366" alt="">
                </div>

                <div class="w-full p-1 flex justify-between">
                    <p class="text-sm">299 dkk</p>
                    <p class="text-sm">tekst</p>

                </div>
            </div>
        </li>
        <li class="item-b">
            <div class="productWrapper w-max mx-3 ">
                <div class="w-40 h-44 border-2 relative">
                    <div class="productSpecialty absolute inset-2 ">TEKST</div>
                    <img src="https://i.pinimg.com/564x/14/cc/34/14cc34b0c12a2ebbb2f66a4efc706586.jpg" alt="">
                </div>

                <div class="w-full p-1 flex justify-between">
                    <p class="text-sm">299 dkk</p>
                    <p class="text-sm">tekst</p>

                </div>
            </div>
        </li>
        <li class="item-c">
            <div class="productWrapper w-max mx-3 ">
                <div class="w-40 h-44 border-2 relative">
                    <div class="productSpecialty absolute inset-2 ">TEKST</div>
                    <img src="https://i.pinimg.com/564x/14/cc/34/14cc34b0c12a2ebbb2f66a4efc706586.jpg" alt="">
                </div>

                <div class="w-full p-1 flex justify-between">
                    <p class="text-sm">299 dkk</p>
                    <p class="text-sm">tekst</p>

                </div>
            </div>
        </li>
        <li class="item-d">
            <div class="productWrapper w-max mx-3 ">
                <div class="w-40 h-44 border-2 relative">
                    <div class="productSpecialty absolute inset-2 ">TEKST</div>
                    <img src="https://i.pinimg.com/564x/14/cc/34/14cc34b0c12a2ebbb2f66a4efc706586.jpg" alt="">
                </div>

                <div class="w-full p-1 flex justify-between">
                    <p class="text-sm">299 dkk</p>
                    <p class="text-sm">tekst</p>

                </div>
            </div>
        </li>
        <li class="item-e">
            <div class="productWrapper w-max mx-3 ">
                <div class="w-40 h-44 border-2 relative">
                    <div class="productSpecialty absolute inset-2 ">TEKST</div>
                    <img src="https://i.pinimg.com/564x/14/cc/34/14cc34b0c12a2ebbb2f66a4efc706586.jpg" alt="">
                </div>

                <div class="w-full p-1 flex justify-between">
                    <p class="text-sm">299 dkk</p>
                    <p class="text-sm">tekst</p>

                </div>
            </div>
        </li>
    </ul>



    <!-- FOOTER -->
    <footer class="bg-gray-200 h-20">
    </footer>

</body>

</html>

<!-- style="outline: none;"  hover:opacity-75-->